.homepage {
  min-height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
}

.homepage-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 1.5rem;
  text-align: center;
}